

/* --------------------start------------------- */

:root{
    --bg-color:#0B132B;
    --color:#333;
    --main-colour:linear-gradient(90deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);
    --text-color:#2689bb;
}
body {
    background-color:var(--bg-color);
    color:var(--color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.light-theme {
    background-color: #f0f0f0;
    color: #333;
    color: #f0f0f0;
}


#theme-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-transform:capitalize;
}


.container{
    display: grid;
    grid-template-columns: auto auto;
    
} 


.card{
    width: 90%;
    max-width:370px;
    
    color: #fff;
    margin:50px;
    border: 1px solid wheat;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border: none;
    background:var(--main-colour)
    
}

.serach{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.serach input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding:10px 25px;
    height: 50px;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;
    flex: 1;
    margin-top: 10px;
}

.serach button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px;
    font-size: 20px;
    font-weight:600;
    border-radius: 30%;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}

.serach button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top:10px;
}

.weather h1{
    font-size:60px;
    font-weight: 500;
    
}

.card .app-line{
    font-size:22px;
    font-weight: 500;
}


.weather h2{
    font-size:35px;
    font-weight: 400;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    margin-top:30px;
}

.col{
    display: flex;
    align-items: center;
    text-align:left;
}

.col img{
    width:40px;
    margin-right:10px;
}

.humidity , .wind{
    font-size:20px;
    margin-top: -6px;
}


.error{
    text-align: center;
    font-size: 14px;
    margin-top:10px;
    color:rgb(255, 251, 0);
    text-transform: lowercase;
    display: none;
}
/* --------------------end------------------- */


/* --------------------speech-converte start------------------- */

.speech-converter{
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    min-height: 500px;
}

.speech-converter h1{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: -50px;
    color:#bdbcbc;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.speech-converter h1 span{
    color:var(--text-color);
}
.speech-converter textarea{
    width: 600px;
    height: 250px;
   background-color:#EBFFFC ;
    font-size: 15px;
    border:1px solid rgb(33, 102, 148) ;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.speech-converter textarea::placeholder{
    font-size: 18px;
    color:black;
}
.speech-converter  .row{
    width: 600px;
    display: flex;
    align-items:center;
    gap:20px;
}

.speech-converter button{
    background:var(--main-colour);
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.speech-converter button i{
    margin: 0 10px;
}

.speech-converter select{
    flex: 1;
    background-color:#EBFFFC;
    height: 50px;
    padding:0 20px;
    outline:none;
    border:1px solid rgb(33, 102, 148) ;
    border-radius: 35px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat:no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
/* --------------------speech-converte end------------------- */




/* --------------------drag down start------------------- */
.drag-drop{
    display: flex;
    justify-content: center;
    align-items: center;
}
#dragDown-left, #dragDown-right{
    width: 300px;
    min-height: 500px;
    margin: 20px;
    border:1px dashed  hsla(202, 71%, 27%, 1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.drag-drop .list{
    background: var(--main-colour);
    height: 60px;
    margin: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: grab;
    font-size:18px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.drag-drop .list img{
    width: 10px;
    margin-right: 15px;
    margin-left:20px;
}

.drag-down-cont h1{
    color:var(--text-color)
    

}

.drag-down-cont{
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    margin-top: 30px;
}

/* --------------------drag down end------------------- */


/* --------------------toDo-note start------------------- */

.toDo-note{
    margin: 30px;
    border: 1px solid var(--text-color);
    padding: 20px;
    margin-top: 110px;
     box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.toDo-note h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    color:var(--text-color);
}

.toDo-note h1 img{
    width: 60px;
    margin-right: 8px;
}

.toDo-note button{
    display: flex;
    align-items: center;
    background: var(--main-colour);
    color:#fff;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
     box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.container button img{
    width: 25px;
    margin-right: 8px;
}

.toDo-note .input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height:70px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px;
    outline: none;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}


.toDo-note .input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

/* --------------------toDo-note end------------------- */



/* media query */

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr; /* 1 column */
    gap: 16px; /* আইটেমগুলোর মাঝে ফাঁকা জায়গা */
  }
}